@model ProjeTeklas.Models.Ogrenci

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Öğrenci Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
           Doğum Tarihi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            Sınıfı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinif.SinifId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OgrenciId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
